# database configuration
DATABASE_URL = 'your database url'

ALLOWED_ORIGINS = ['http://localhost:5173', 'http://localhost:3000','http://127.0.0.1:3000','http://127.0.0.1:5173']

# AWS S3 Configuration
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_REGION = 
S3_BUCKET_NAME = 